pyproject.toml
echo "##active_line2##"
poetry.lock
echo "##active_line3##"
node_modules
echo "##active_line4##"
*.pyc
echo "##active_line5##"
__pycache__/
echo "##active_line6##"
.env
echo "##active_line7##"

